*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
html{
    scroll-behavior: smooth;
}

nav{
    background-color: #f3f3f0bb;
    display: grid;
    grid-template-columns:  1fr 1fr;
    
}
header{
    position: sticky;
    top: 0;
    z-index: 3;
    left: 0;
    right: 0;
    
}
nav ul{
    list-style: none;
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(3,auto);
    gap: 5px;
    align-items: center;
    margin: 0 1rem;
}
nav li{
      padding: 15px 1.2rem;
      position: relative;
      transition: 1s;
}
nav li, li a {
    color: #222222;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 300;
    font-family: sans-serif;
}

nav h1{
    display: grid;
    align-content: center;
    margin-left: 1rem;
    font-family: sans-serif;
    font-size: 1.6rem;
}
nav h1 a{
    text-decoration: none;
    color: rgb(68, 62, 62);
}
nav img{
    width: 30px;
}
.responsive{
    display: none;
}
.menu ul
{   
	width: 200px;
    position: absolute;
	display:none;
	border: 1px solid black;
    background-color: white;
    top: 3rem;
}
.menu .category:hover
{
	background-color: #8fc0cf;
	border: 1px solid #000;
}
.menu li:hover ul
{
	display: block;
}
.click{
    position: relative;
}
.click-menu{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    list-style: none;
    top: 3rem;
    right: 3rem;
    width: 150px;
    text-align: end;
    background-color: white;
}

.click input:checked ~ .click-menu{
    visibility: visible;
    opacity: 1;
}
.click-menu ul{
    display: block;
}
.sub-menu{
    position: absolute;
    right: 5rem;
    text-align: start;    
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(400px, 100%), 1fr));
    gap: 3px;
}
.product-1 {
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/3216/810/040/2/w/750/3216810040_6_1_1.jpg?ts=1634812444048');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    transition: 1s;
}
.product-1:hover{
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/3216/810/040/2/w/750/3216810040_6_2_1.jpg?ts=1634812448357');
}
.product-2 {
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/2234/810/040/2/w/750/2234810040_6_1_1.jpg?ts=1628497270455');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    transition: 1s;
}
.product-2:hover{
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/2234/810/040/2/w/750/2234810040_6_2_1.jpg?ts=1628497274687');
}
.product-3 {
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/2235/810/111/2/w/750/2235810111_6_1_1.jpg?ts=1628500532571');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    transition: 1s;
}
.product-3:hover{
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/2235/810/111/2/w/750/2235810111_6_2_1.jpg?ts=1628500539924');
}
.product-4 {
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/1224/810/117/2/w/750/1224810117_6_1_1.jpg?ts=1629706792416');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    transition: 1s;
}
.product-4:hover{
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/1224/810/117/2/w/750/1224810117_6_2_1.jpg?ts=1629706797077');
}
.product-5 {
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/1201/810/040/2/w/750/1201810040_6_1_1.jpg?ts=1626784995772');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    transition: 1s;
}
.product-5:hover{
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/1201/810/040/2/w/750/1201810040_6_2_1.jpg?ts=1626784991482');
}
.product-6 {
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/3203/810/098/2/w/750/3203810098_6_1_1.jpg?ts=1628599498133');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    transition: 1s;
}
.product-6:hover{
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/3203/810/098/2/w/750/3203810098_6_2_1.jpg?ts=1628599481535');
}
.product-7 {
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/1218/810/060/2/w/750/1218810060_6_1_1.jpg?ts=1627314179573');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    transition: 1s;
}
.product-7:hover{
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/1218/810/060/2/w/750/1218810060_6_2_1.jpg?ts=1627314175008');
}
.product-8 {
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/1217/810/009/2/w/750/1217810009_6_1_1.jpg?ts=1627313766592');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    transition: 1s;
}
.product-8:hover{
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/1217/810/009/2/w/750/1217810009_6_2_1.jpg?ts=1627313769327');
}
.product-9 {
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/1216/810/091/2/w/750/1216810091_6_1_1.jpg?ts=1627313899331');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    transition: 1s;
}
.product-9:hover{
    background-image: url('https://static.zara.net/photos///2021/I/1/1/p/1216/810/091/2/w/750/1216810091_6_2_1.jpg?ts=1627313913012');
}
main h2{
    font-size: 0.8rem;
    text-align: center;
    padding: 3rem 0;
    font-family: sans-serif;

}
main span{
   position: absolute;
   bottom: 1rem;
   right: 1rem;
   font-size: 1.2rem;
}
 main a{
    text-decoration: none;
    color: rgb(51, 48, 48);
}
footer{
    background-color: #222222;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 2fr;
    color: white;
    
}
footer ul{
    list-style: none;
    margin: 0.3rem 1rem;
    margin-bottom: 1rem;
}
footer li{
    padding: 0.5rem;
    
}
footer li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
footer li a:hover{
    text-decoration: underline;
}
.social-media img{
    width: 30px;
}
.social-media{
    padding: 1rem 0;
    font-size: 1rem;
}
.social-media li{
    display: inline;
    padding: 0.5rem;
}
.subscribe{
    padding: 0 1rem;
}
.subscribe h4{
    padding: 0.8rem 0;
    font-size:  1rem 0.3rem;
}
.subscribe input[type="email"]{
    display: inline;
    width: 100%;
    background-color: transparent;
    padding: 0.3rem 5px;
    border: none;
    border-bottom:1px solid white;
    color: white;
}
input[type="submit"]{
    background-color: transparent;
    color: white;
    border: none;
}
.submit-button{
    display: grid;
    grid-template-columns: 1fr auto;
}
input:focus{
    outline: none;
}
@media screen and (max-width:700px){
    .responsive{
        display: block;
    }
    .desktop{
        display: none;
    }
    
   footer{
       display: grid;
       grid-template-columns: 2fr 1fr;
   }
} 